{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title has-text-success is-size-2"> Hike & Bite </h3>

  <div class="section has-text-centered">
    <p class="section is-size-4">
      Discover and organise the best food stops along your hiking trails!
    </p>

    <p class="box has-background-success-light">
      <i class="fa-solid fa-person-hiking fa-10x" style="color:darkgreen"></i> 
      <i class="fas fa-plus fa-4x" style="color:wheat"></i> 
      <i class="fa-solid fa-cookie-bite fa-10x" style="color:saddlebrown"></i> 
    </p>
  </div>
</section>