{{> welcome-menu}}

<section class="box box-link-hover-shadow has-text-centered">
  <h1 class="title mb-6"> Welcome to Hike & Bite </h1>
  <div>
    <i style="font-size: 48px; color: Forestgreen;" class="fa-solid fa-mountain-sun"></i>
  </div>
  <p class="subtitle is-5 mt-6"> <em>Sign up</em> or <em>Log in</em> above to begin viewing trails... </p>
</section>