<form class="box box-link-hover-shadow" action="/trail/{{trail._id}}/addstop" method="POST">
  <label class="title is-4"> Add Food Stop </label>

  <div class="field is-horizontal mt-6">
    <div class="field-body">
      <div class="field">
        <input class="input input has-background-success-light" type="text" placeholder="Enter Stop Name" name="title">
      </div>
      <div class="field">
        <input class="input input has-background-success-light" type="text" placeholder="Enter Stop Type" name="type">
      </div>
      <div class="field">
        <input class="input input has-background-success-light" type="text" placeholder="Enter Opening Hours" name="hours">
      </div>
      <div class="field">
        <input class="input input has-background-success-light" type="text" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input input has-background-success-light" type="text" placeholder="Enter Longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button has-background-success"> Add Stop </button>
</form>