<form class="box" action="/dashboard/addtrail" method="POST">
  <div class="field-body is-grouped mb-3"> <!-- To group input lines on one line -->
    <div class="field">
      <label class="label">Trail Name</label>
      <input class="input has-background-success-light" type="text" placeholder="Enter Trail Name" name="title">
    </div>
  </div>
  <button class="button has-background-success">Add Trail</button>
</form>