<form class="box" action="/trail/{{trail._id}}/addstop" method="POST">
  <label>Enter Food Stop Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Stop Name" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Stop Type" name="type">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Opening Hours" name="hours">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Stop</button>
</form>