<div class="box box-link-hover-shadow">
  <label class="title is-4">Search By</label>
  <div class="columns is-multiline mt-4">
    <div class="column is-one-quarter">
        <!-- TO DO: Remove hard coded data, account for if no type -->
      <a href="/trail/{{trail._id}}/stops/Cafe" class="button has-background-success is-fullwidth"> Cafes </a>
    </div>
    <div class="column is-one-quarter">
        <a href="/trail/{{trail._id}}/stops/Restaurant" class="button has-background-success is-fullwidth"> Restaurants </a>
    </div>
    <div class="column is-one-quarter">
      <a href="/trail/{{trail._id}}/stops/Pub" class="button has-background-success is-fullwidth"> Pubs </a>
    </div>
    <div class="column is-one-quarter">
      <a href="/trail/{{trail._id}}/stops/Bakery" class="button has-background-success is-fullwidth"> Bakery </a>
    </div>
  </div>
</div>