<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <script src="https://use.fontawesome.com/releases/v6.7.2/js/all.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" <!-- Leaflet map script --> 
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin="">
    </script>

    <!-- Navigation burger -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    });
    </script>

    <style>
      /* Reference: https://stackoverflow.com/questions/50043803/how-to-make-an-element-fill-the-remaining-viewport-height */
      .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Ensures the container fills the entire height of the viewport */
      }
      
      table .button-cell {
        border: none;
      }

      .password-container {
        position: relative;
      }

      /* Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/visibility */
      .hidden-password {
          visibility: hidden; 
      }

      .password {
          display: inline; 
        }

      /* Reference: https://www.w3schools.com/cssref/sel_hover.php */
      .password-container:hover .hidden-password { 
          visibility: visible;
          left: 0;
      }

      .password-container:hover .password {
          visibility: hidden;
      }

      #map { 
        height: 300px; 
      }
    </style>
  </head>

  <body class="has-background-white-ter">
    <div class="container has-background-white-ter">
      {{{content}}}
      {{> error }}
    </div>
  </body>
</html>